IIKO_SERVER_URL=https://retro3158.iikoweb.ru
IIKO_LOGIN=
IIKO_PASSWORD=
IIKO_STORE_ID=
ACCOUNTANT_MANUAL_HANDOVER=1
# Модуль директора: ключ остаётся только в build/.env.
CLAUDE_API_KEY=
CLAUDE_MODEL=
IIKO_DIRECTOR_CATEGORIES=Основное меню=menu;Десерты=dessert;Напитки=drink
IIKO_DIRECTOR_EXCLUDED_GROUPS=Контейнеры;ДОСТАВКА ЯНДЕКС
# Для доступа с других устройств: настроить обе переменные, использовать HTTPS.
DASHBOARD_USER=
DASHBOARD_PASSWORD=
# При локальном доступе можно ограничить клиентов своей подсетью.
DASHBOARD_ALLOWED_NETWORK=
