IIKO_SERVER_URL=https://retro3158.iikoweb.ru
IIKO_LOGIN=
IIKO_PASSWORD=
IIKO_STORE_ID=
ACCOUNTANT_MANUAL_HANDOVER=1
# Для доступа с других устройств: настроить обе переменные, использовать HTTPS.
DASHBOARD_USER=
DASHBOARD_PASSWORD=
# При локальном доступе можно ограничить клиентов своей подсетью.
DASHBOARD_ALLOWED_NETWORK=
